@import url('https://fonts.cdnfonts.com/css/quivira');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Italic&family=Noto+Sans+Psalter+Pahlavi&display=swap');

* {
    background-color: transparent;
    color: ivory;
    border: none;
    font-family: "Quivira", sans-serif;
}

html {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgba(0, 0, 0, 0.7);
}

header h1 {
    margin-left: 3vw;
}

header nav {
    margin-right: 3vw;
}

#nav-list {
    list-style: none;
}

#nav-list li {
    margin-left: 1.5vw;
    display: inline;
}

.nav-btn {
    border: 1px solid ivory;
    border-radius: 10px;
    padding: 10px;
    flex-shrink: 4;
}

.nav-btn:hover {
    box-shadow: 0px 0px 5px ivory;
}

#roman {
    background-color: ivory;
    color: black;
}

main {
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    border-radius: 15px;
    border: 1px solid ivory;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2vh 2vw;
}

#input {
    width: 329px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: large;
    margin-bottom: 1vh;
}

#input:hover {
    box-shadow: 0px 0px 5px ivory;
}

#input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.8);
}

#resultado {
    visibility: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
    font-size: x-large;
    width: fit-content;
    height: fit-content;
}

#ajuda{
    text-decoration: none;
    position: absolute;
    margin: 18px 0px 0px -80px;
}

#ajuda:hover{
    text-shadow: 0px 0px 3px ivory;
}

footer {
    margin-top: auto;
    display: flex;
    height: 12vh;
    justify-content: space-around;
    align-items: center;
    background:rgba(0, 0, 0, 0.7);
}

footer a {
    font-size: small;
}

footer a:hover{
    text-shadow: 0px 0px 3px ivory;
}